<card class="par-card">
  <card-title class="font"><b>Displays</b></card-title>
  <div style="display:flex;flex-direction:row;margin-top: 30px;">
    <div
      style="font-size:30px;color:#5448c8;font-weight:bolder;margin-right: 5px;"
    >
      10 <span style="font-size:15px">/16</span>
    </div>
    <mat-divider vertical class="divider-class"></mat-divider>
    <div style="margin-left: 15px;">
      <span style="color: #999999">On Time <br /><b>00:00</b><br /></span>
    </div>
  </div>
</card>
