<card class="par-card">
  <card-title style="font-family: system-ui;color: #676565;"
    ><b>Displays</b></card-title
  >
  <div style="display:flex;flex-direction:row;margin-top: 15px;">
    <div
      style="font-size:56px;color:#5448c8;font-weight:bolder;margin-right: 4px;"
    >
      10 <span style="font-size:15px;margin-left: -13px;">/16</span>
    </div>
    <mat-divider vertical class="divider-class"></mat-divider>
    <div
      style="    margin-left: 14px;
  margin-top: 20px;"
    >
      <div style="color: #999999;font-size: 10px;">
        On Time <br />
        <div
          style="font-size: 18px;
      font-weight: 500;"
        >
          00:00
        </div>
        <br />
      </div>
    </div>
    <!--  <div style="margin-left: 15px;">
      <span style="color: #999999">On Time <br /><b>00:00</b><br /></span>
    </div> -->
  </div>
</card>
