p {
  font-family: Lato;
}
.flex-container {
  background: #6dd0a5;
  padding: 50px 50px 50px 50px;
  box-sizing: border-box;
  /*   border-left: 25px solid #5243aa;
  min-height: 150px; */

  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: aliceblue;
}
.uparrow {
  color: #6dd0a5;
}
.downarrow {
  color: #f36e6e;
}
.par-card {
  box-shadow: none;
  background-color: #f4f4f4;
  min-width: 180px;
  height: 110px;
}

.on {
  background: #6dd0a5;
  margin-bottom: 18px;
  margin-left: -4px;
  color: white;
  border-radius: 6px;
  width: 42px;
  text-align: center;
  height: 21px;
  margin-top: 9px;
}
