<card class="par-card">
  <card-title style="font-family: system-ui;;color: #676565;"
    ><b>Lighting</b></card-title
  >
  <div style="display:flex;flex-direction:row;margin-top: 30px;">
    <div
      style="font-size:50px;color:#5448c8;font-weight:bolder;margin-right: 12px;"
    >
      32
    </div>
    <div class="on">ON</div>
    <!--   <mat-divider vertical class="divider-class"></mat-divider> -->
    <div
      style="    margin-left: 22px;
    margin-top: 12px;"
    >
      <div style="color: #999999;font-size: 10px;">
        Total <br />
        <div
          style="font-size: 18px;
        font-weight: 500;"
        >
          43
        </div>
        <br />
      </div>
    </div>
  </div>
</card>
