<card class="par-card">
  <!--   <div
    style=" display:flex;
  flex-direction:row;"
  ></div> -->
  <card-title class="font"><b>Air Quality</b></card-title>
  <div style="display:flex;flex-direction:row">
    <div class="flex-container">72</div>

    <div style="flex-direction:column;margin-left: 100px;margin-top: -18px;">
      <card-content>
        <div>
          <card-item>
            <mat-icon class="uparrow">arrow_upward</mat-icon>

            <div style="color: #999999">
              <p
                class="card-item-subject"
                style="font-size:25px;  font-weight: bolder;color: #999999"
              >
                93
              </p>
            </div>
          </card-item>
        </div>
        <mat-divider></mat-divider>
        <div style="margin-top: -11px;">
          <card-item>
            <mat-icon class="downarrow">arrow_downward</mat-icon>
            <div style="flex: 1 1 auto">
              <p
                class="card-item-subject"
                style="font-size:25px;  font-weight: bolder;color: #999999"
              >
                61
              </p>
            </div>
          </card-item>
        </div>
      </card-content>
    </div>
  </div>
</card>
