<card class="par-card">
  <card-title style="font-family: system-ui;;color: #676565;"
    ><b>Temperature</b></card-title
  >
  <div style="display:flex;flex-direction:row">
    <div class="flex-container">
      21<span style="font-size:10px">&#8451;</span>
    </div>

    <div style="flex-direction:column;margin-left: 100px;margin-top: -18px;">
      <card-content>
        <div>
          <card-item>
            <!--  <div class="plus-icon"></div> -->
            <div>
              <img
                src="https://raw.githubusercontent.com/akila1234567/angular-material-card-concept-rz2uc8/stash-2022-21-11_11-48-02/src/app/fire.svg"
              />
            </div>
            <div style="flex: 1 1 auto">
              <p
                class="card-item-subject"
                style="font-size:25px;  font-weight: bolder;color: #999999"
              >
                26<span style="font-size:15px">&#8451;</span>
              </p>
            </div>
          </card-item>
        </div>
        <mat-divider></mat-divider>
        <div style="margin-top: -11px;">
          <card-item>
            <div>
              <img
                src="https://raw.githubusercontent.com/akila1234567/angular-material-card-concept-rz2uc8/stash-2022-21-11_11-48-02/src/app/snowflake.svg"
              />
            </div>
            <div>
              <p
                class="card-item-subject"
                style="font-size:25px;  font-weight: bolder;color: #999999"
              >
                18<span style="font-size:15px">&#8451;</span>
              </p>
            </div>
          </card-item>
        </div>
      </card-content>
    </div>
  </div>
</card>
