p {
  font-family: system-ui;
}
.flex-container {
  height: 75px;
  width: 75px;
  background: #5448c8;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  border-radius: 50%;
  padding: 25px;
  text-align: left;
  line-height: 1;
  font-weight: bolder;
  color: aliceblue;
}
.uparrow {
  color: #5448c8;
}
.downarrow {
  color: #f36e6e;
}
.par-card {
  box-shadow: none;
  background-color: #f4f4f4;
  min-width: 180px;
  height: 110px;
}
