<card class="par-card">
  <card-title style="font-family: system-ui;;color: #676565;"
    ><b>Audio</b></card-title
  >
  <div style="display:flex;flex-direction:row;margin-top: 18px;">
    <div
      style="font-size:56px;color:#5448c8;font-weight:bolder;margin-right: 12px;"
    >
      2
    </div>
    <div class="playing"><span>PLAYING</span></div>
    <!--     <mat-divider vertical class="divider-class"></mat-divider>
 -->
    <div
      style="margin-left: 10px;
    margin-top: 18px;"
    >
      <span style="color: #999999">Total <br /><b>5</b><br /></span>
    </div>
  </div>
</card>
