<card class="par-card">
  <card-title style="font-family: system-ui;;color: #676565;"
    ><b>Audio</b></card-title
  >
  <div style="display:flex;flex-direction:row;margin-top: 18px;">
    <div
      style="font-size:56px;color:#5448c8;font-weight:bolder;margin-right: 12px;"
    >
      2
    </div>
    <div class="playing"><div style="margin-top: 3px;">PLAYING</div></div>
    <!--     <mat-divider vertical class="divider-class"></mat-divider>
 -->
    <div
      style="margin-left: 10px;
    margin-top: 18px;"
    >
      <div style="color: #999999;font-size: 10px;">
        Total <br />
        <div
          style="font-size: 18px;
      font-weight: 500;"
        >
          5
        </div>
        <br />
      </div>
    </div>
  </div>
</card>
